* {
    font-family: "Roboto", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #000000;
    background: -webkit-linear-gradient(to top, #434343, #000000); 
    background: linear-gradient(to bottom, #2b2b2b, #000000);
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo {
    color: gold;
    margin: 10vh 0;
}

section {
    text-align: center;
    width: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    color: gold;
}


.container-resposta {
    width: 100%;
    margin: 8vh 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.container-resposta input[type="radio"] + label {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

button {
    text-align: center;
    font-size: 18px;
    background-color: turquoise;
    font-weight: bold;
    height: 6vh;
    width: 18vh;
    border-color: turquoise;
    border-radius: 5px;
}

.container-tecnologia {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
}

.container-tecnologia input {
    font-size: 18px;
    color: white;
    background-color: transparent;
    text-align: center;
    height: 6vh;
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 2vh;
}

.container-tecnologia button {
    font-size: 30px;
    font-weight: bold;
    height: max-content;
    width: 8vh;
}